{erl_opts, [debug_info]}.

{deps, [
	{cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}},
	{sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
	{gproc, ".*", {git, "git://github.com/esl/gproc.git", {branch, "master"}}},
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {branch, "master"}}}
]}.